body {
    color: #000000;
    font-family: 'Raleway', sans-serif;
  }
  
  #background {
    background-repeat: repeat;
    height: 100%;
    left: 0px; 
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
  }
  
  .stretch {
    height: 100%;
    width: 100%;
  }
  
  .jumbotron {
    min-height: 100vh;
    margin: 0;
  }
  
  /* Needed to keep progress bar in consistent position at bottom without fixing its position. Fixed does not work correctly with smaller media. */
  #main-content {
    min-height: 80vh;
  }
  
  #title {
    color: rgb(207, 207, 206);
    font-family: 'Bungee', cursive;
    margin-top: 2%;
  }
  
  .btn-lg {
    background: #ffffff;
    border: solid .25rem rgb(32, 32, 32);
    font-size: 3rem;
    white-space: normal;
    word-wrap: break-word;
  }
  
  .btn-lg:hover {
    background: #00c946; 
  }
  
  #start-btn, #restart-btn { 
    margin-top: 25%;
    width: 50%;
  }
  
  #choice-0, #choice-1, #choice-2, #choice-3 {
    margin-top: 3%;
    width: 60%;
  }
  
  #no, #yes {
    font-family: 'Bungee', cursive;
    font-weight: bold;
  }
  
  #correct, #incorrect, #unanswered {
    font-family: 'Bungee', cursive;
    margin-top: 5%;
  }
  
  #yes, #correct {
    color: #00c946;
  }
  
  #no, #incorrect {
    color: #ff0900;
  }
  
  #jpg {
    height: 30rem;
    margin-top: 5%;
    width: 40rem;
  }
  
  #progress-col{
    width: 70%;
  }
  
  .progress {
    border: solid .1rem #000000;
    height: 3.2rem;
    margin-bottom: 0;
  }
  
  .progress-bar {
    align-items: center;
    background-color: #00c946;
    color: #000000; 
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
  }
  
  html.can-touch .btn-lg:hover {
    background: #ffffff; /* disable hover effect on touch devices */
    border: solid .25rem rgb(207, 207, 206);
  }

  h3 {
    text-align: center;
  }

  .center-block {
    margin: 0 auto;
  }

  #time-remain {
    color: rgb(207, 207, 206);
  }

  #question {
    color: rgb(207, 207, 206);
  }

  #unanswered {
    color: rgb(207, 207, 206);
  }

  #comment {
    color: rgb(207, 207, 206);
  }

  #question-container {
    margin-bottom: 2%;
  }

  .progress-bar {
    font-size: 16px;
    font-weight: bold;
  }

  #progress-text {
    color: rgb(207, 207, 206);
  }

  #answer-img {
    margin-bottom: 0.8%;
  }

  @media screen and (min-width: 992px) {
    #answer-img {
      position: relative;
      left: 13%;
      bottom: 2%;
    }
  }

  @media screen and (min-width: 1200px) {
    #answer-img {
      position: relative;
      left: 20%;
      bottom: 2%;
    }
  }